<div class = "container">

<% @user.each do |p| %>
<div class = "user-row">
    <div class = "photo">
        <% if p.photo%>
                <%=  p.photo %>
        <% end %>

    </div>
    <div class = "u-intro-details">
        <p>Number of posts:  <%= p.posts_counter %></p>
    </div>    
</div>
<%end%>
</div>