/* user index style */
.container {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-row {
  display: flex;
  gap: 20px;
}

.photo {
  height: 100px;
  width: 90px;
  border: solid 1px black;
}

.u-intro-details {
  height: 140px;
  width: 95%;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
}

.u-user-name {
  position: absolute;
  font-size: 2rem;
  padding-left: 20px;
}

.u-post-counter {
  position: relative;
  padding-right: 10px;
  align-self: end;
  top: 60%;
  display: flex;
  justify-content: space-between;
  width: 98%;
}

/* user show style */
.bio {
  padding: 0 5px;
  border: solid 1px black;
}

.post-row {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  padding: 0 5px;
}

.post-title {
  font-weight: 600;
}

.post-text {
  padding-left: 20px;
}

.counters {
  align-self: end;
}

.post-link {
  text-align: end;
}

.user-posts-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-post-counter {
  position: relative;
  padding-right: 10px;
  align-self: end;
  top: 60%;
  display: flex;
}
